{% extends "base.html" %}

{% block content %}
    <h2>Список пользователей</h2>

    {% if users_list %}
        <ul class="users-list">
            {% for user in users_list %}
                <li>
                    <a href="/user?id={{ user.id }}">
                        #{{ user.id }}: <strong>{{ user.name }}</strong>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Пользователи не найдены.</p>
    {% endif %}
{% endblock %}